ul {
    font-size: 1em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(17, 75, 95, 1);
    border-radius: 5px;
}

li {
    float: left;
    border-radius: 5px;
}

li a, .dropbtn {
    display: inline-block;
    color:rgba(243, 233, 210, 1);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color:rgba(26, 147, 111, 0.5);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(243, 233, 210, 1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color:rgba(198, 218, 191, 1);}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 1024px) {
    ul {
        font-size: 0.8em;
    }

    li a, .dropbtn {
        padding: 10px;
    }
    
    .dropdown-content a {
        padding: 8px;
    }
}