.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    background-color: rgb(237, 238, 237);
    padding: 5px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.grid-item {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

.grid-item-image {
    pointer-events: none;
    width: 75%;
    height: 75%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
}

.grid-item-text {
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 100%;
    word-wrap: break-word;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}
