.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-content: center;
    padding: 5px;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.grid-item {
    position: relative;
    background-color: rgba(243, 233, 210, 1);
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: black;
    box-sizing: border-box;
    border-radius: 5px;
}

.grid-item-image {
    pointer-events: none;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
}

.grid-item:hover {
    background-color: rgba(243, 233, 210, 0.75);
}

.grid-item-text {
    pointer-events: none;
    word-wrap: break-word;
    position: absolute;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 5px;

}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}
