/* 
$color1: rgba(17, 75, 95, 1);
$color2: rgba(26, 147, 111, 1);
$color3: rgba(136, 212, 152, 1);
$color4: rgba(198, 218, 191, 1);
$color5: rgba(243, 233, 210, 1);

background-color: rgb(237, 238, 237);
*/




/* 
* {
    border: 1px solid red;
} */

body {
    background-color: rgba(198, 218, 191, 1);
    font-family: Arial, Tahoma, Geneva, sans-serif;
    color: rgba(17, 75, 95, 1);
}

.error-log {
    color: darkred;
}

test {
    color: rgba(17, 75, 95, 1);
    color: rgba(26, 147, 111, 1);
    color: rgba(136, 212, 152, 1);
    color: rgba(198, 218, 191, 1);
    color: rgba(243, 233, 210, 1);
    color: rgba(243, 233, 210, 0.5);
}