body {
    background-color: #f5f5f5;
    font-family: Tahoma, Geneva, sans-serif;
    color: #3f3f3f;
}

.error-log {
    color: red;
}

.color-scheme {
    color: #262626;
    color: #3f3f3f;
    color: #dcdcdc;
    color: #f5f5f5;
}