table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid rgba(26, 147, 111, 1);
    border-radius: 5px;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(198, 218, 191, 1);
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
    table {
        font-size: 0.75em;
    }

    td, th {
        padding: 3px;
    }
}